.App {
  background: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.header {
  background: #ffffff;
}

.title {
  color: #ff9933;
  font-size: 2rem;
}
